<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div class="container mt-4">
            <h1>Edit a Virus!</h1>
            <form th:action="@{/viruses/edit(id=${#request.getParameter('id')})}" method="POST">
                <th:block th:include="~{fragments/virus}"></th:block>
            </form>
        </div>
    </main>
</div>
</body>
</html>